@media print {
  @page {
    size: A4 landscape;
    margin: 1cm;
  }
  
  body * {
    visibility: hidden;
  }
  
  .print-catalog,
  .print-catalog * {
    visibility: visible;
  }
  
  .print-catalog {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  button, .no-print, nav, header, aside, footer, [data-slot="sidebar"] {
    display: none !important;
  }
}
